body{
    background-color: rgb(250, 232, 208);
    font-family: 'Anton', sans-serif;
}

header{
    position:relative;
    width:100%;
}

.title{
    position:absolute;
    font-size: 7.1em;
    left:10%;
    top: 1.2em;
    font-family: 'Anton', sans-serif;
    letter-spacing: .2em;

}

.line{
    border-bottom: 3px solid black;
    width: 440px;
    top: 8em;
    left:10%;
    position:relative;
}


.nav-bar{
    position: absolute;
    top: 2em;
    font-size: 1.07em;
    line-height: 2.3em;
    right:10%;
}

main{
    position:relative;
    top:22em;
}

.sign{
    position: absolute;
    top : 15.625em;
}

.have-need{
    position:absolute;
    top: 15em;
}

.about-header{
    position: absolute;
    top : 18.75em;
}

.welcome{
    position: absolute;
    top: -3em;  
}

.main-paragraph{
    position: absolute;
    top: -1em;
}

.maplegendsides{
  display:flex;
}

#map {
  position: absolute;
  left: 120%;
  flex: 60%;
  height: 10em;
  width: 15em;
  top:-2em;
}

.legend{
  position: absolute;
  text-align: center;
  left: 60%;
  top: 3.5em;
  flex: 30%;
  height: 2em;
  width: 14em;
}

.container{
    position:relative;
}

.new-user-intro{
    position: absolute;
    top:2.5em;
    left: 10%;
    line-height: 1.5em;
    font-size:2em;
}

.user-pin-form{
    position: absolute;
    top:11em;
    left: 10%;
    line-height: 2.2em;
    font-size: 1em;
}

.pin-button{
    position: absolute;
    top: 22em;
}


.buttons #have-need{
    position:absolute;
    top: 14em;
    left: 70%;
}

#have-needindex{
    top: 45em;
    left: 15%;
    position: absolute;

}

.team{
    position: relative;
    top: 16em;

}

.team-header{
    position: absolute;
    top: 6.25em;
}

footer{
    top: 50em;
    position:relative;
}

.copyright{
    position: absolute;
    left:45%;
    top: 10em;
}

.copyright-about{
    position: absolute;
    left:45%;
    top:220em;
}

#copyright-map{
    position: absolute;
    left:45%;
    top: 25em;
}

/* buttons */
.button-hover{
    background-color: white;
    color: black;
    text-decoration: none;
    border: 2px solid;
    border-color: black;
    text-align: center;
    padding: .2em;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-hover:hover{
    background-color:black;
    color: white;
    text-decoration: none;
}

.maplegendsides #map{
    position: absolute;
    left: 10%;
    width:60em;
    height:30em;
    top:16em;
}

.maplegendsides .legend{
    left:10%;
    top: 8.6em;
}

#map-button{
    position: absolute;
    top: .1em;
    left: 60%;
}

#have-header{
    position:absolute;
    top:2em;
    left: 30%;
    font-size: 3em;
}

.team {
    top:30em;
}

#sign-in{
    position: absolute;
    left: 10%;
    top: 2em;
    font-size:3em;
}

.sign-in-up{
    position:absolute;
    left: 10%;
    top: 13em;
}


.contact{
    left:10%;
    top: 8em;
    position:absolute;
    line-height: 1.5em;
}

.contact-form{
    left:10%;
    position:absolute;
    top:15em;
}

.contact-header{

    font-size:2em;
    top:2em;
}

.image-pin{
    width: 10px;
    height: 20px;
}

.have-need-header{
    position:absolute;
    left: 10%;
    font-size: 2em;
    top: 3em;
    font-size:
    2em;
}

li{
    margin-top:1em;
}

.users {
    height: 300px;
    width: 300px;
    display: inline;
    clear: both;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
   }

   bio img {
    margin-top: 10px;
    margin-right: 40px;
   
  }

  ul {
    background: rgb(228, 211, 190);
    padding: 20px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
.jason1{
    position: absolute;
    left: 120%;
    top:10em;
}

.team {
    top:30em;
}

.bio{
  clear: both;
  margin-bottom: 50px;
  margin-top: 50px;
}

.team-header{
    position: absolute;
    top:30em;
    font-size: 2em;
    left: 10%;
    margin-right:10%
}

.about-header{
    position:relative;
    top: 3em;
    left: 10%;
    line-height: 1.5em;
    font-size: 1.87em;
    width: 15em;
}

.racoon{
    position: absolute;
    right: 10%;
    top:10em;
}

.reed1{
    position:absolute;
    top: 35em;
}

.diego1{
    position:absolute;
    top: 78em;
    left: 120%;
}

.lists{
    width: 420px;
}