
header{
    position:relative;
}

.title{
    position:absolute;
    font-size: 100px;
    left:30%;
    font-family: 'DDC Hardware Compressed';
}

.nav-bar{
    position: absolute;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif Titling RG;;
    font-size: 25px;
    word-spacing: 30px;
    top: 150px;
}

main{
    position:relative;
}

.sign{
    position: absolute;
    top : 250px;
}

.have-need{
    position:absolute;
    top: 300px;
}

.about-header{
    position: absolute;
    top : 200px;
}

.maplegendsides{
  display:flex;
}

#map {
  flex: 60%;
  height: 400px;
}

.legend{
  flex: 30%;
  height: 200px;
  border: 2px solid blue;
}

.container{
    position:relative;
}

.new-user-intro{
    position: absolute;
    top:250px;
}

.user-pin-form{
    position: absolute;
    top:300px;
}

.about-header{
    position:absolute;
    top: 200px;
}



