body{
    background-color: rgb(250, 232, 208);
    font-family: 'Anton', sans-serif;
    width: 100%;
    height: 100%;
}

header{
    position:relative;
    width:100%;
}

.title{
    position:absolute;
    font-size: 8vw;
    left:10%;
    top: 1.2vw;
    font-family: 'Anton', sans-serif;
    letter-spacing: .2vw;
    width: 100%;
    height: 100%;

}

/* .line{
    border-bottom: 3px solid black;
    width: 440px;
    top: 8vw;
    left:10%;
    position:relative;
} */


.nav-bar{
    position: absolute;
    top: 1.0vw;
    font-size: 1.2vw;
    line-height: 2.7vw;
    right:10%;
    cursor: pointer;
    
}

main{
    position:relative;
    top:10vw;
}

.sign{
    position: absolute;
    top : 15.625vw;
}

.have-need{
    position:absolute;
    top: 15vw;
}

.about-header{
    position: absolute;
    top : 22.75vm;
    
}

.welcome{
    position: absolute;
    top: -1vw;  
    line-height: 5vw;
    width: 30vw;
    font-size: 2vw;
}

.main-paragraph{
    position: absolute;
    top: 4vw;
    font-size: 1.7vw;
    line-height: 2vw;
    width: 30vw;
}

.maplegendsides{
  display:flex;
}

#map {
  position: absolute;
  left:40vw;
  flex: 60%;
  height: 30vw;
  width: 40vw;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
  top: 10vw;
}

.legend{
  position: absolute;
  text-align: center;
  left: 50vw;
  top: 13vw;
  flex: 10vw;
  height: 1vw;
  width: 7vw;
  font-size: 1vw;
}

.container{
    position:relative;
}

.new-user-intro{
    position: absolute;
    top:2.5vw;
    left: 10%;
    line-height: 2vw;
    font-size:2vw;
}

.user-pin-form{
    position: absolute;
    top:11vw;
    left: 10%;
    line-height: 2.2vw;
    font-size: 1vw;
}

.pin-button{
    position: absolute;
    top: 22vw;
}

#have-needindex{
    top: 34vw;
    left: 20vw;
    position: absolute;
    width: 10vw;
    height: 2vw;
    font-size: 1.2vw;
    line-height: 2vw;
}

#have-needmap{
    position:absolute;
    top: 38vw;
    left:40vw;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.team{
    position: relative;
    top: 16vw;

}

.team-header{
    position: absolute;
    top: 6.25vw;
}

footer{
    top: 43vw;
    position:relative;
    font-size: 0.7vw;
}

.copyright{
    position: absolute;
    left:45%;
    top: 10.5vw;
}

.copyright-about{
    position: absolute;
    left:45%;
    top:220vw;
}

#copyright-map{
    position: absolute;
    left:45%;
    top: 10vw;
}

/* buttons */
.button-hover{
    background-color: white;
    color: black;
    text-decoration: none;
    border: .1vw solid;
    border-color: black;
    text-align: center;
    padding: .2vw;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-hover:hover{
    background-color:black;
    color: white;
    text-decoration: none;
}

.maplegendsides #map{
    position: absolute;
    left: 10%;
    width:60vw;
    height:30vw;
    top:7vw;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.maplegendsides .legend{
    left:10%;
    top: 7vw;
}

#map-button{
    position: absolute;
    top: .1vw;
    left: 60%;
}

#have-header{
    position:absolute;
    top:2vw;
    left: 30%;
    font-size: 3vw;
}

.team {
    top:30vw;
}

#sign-in{
    position: absolute;
    left: 10%;
    top: 2vw;
    font-size:3vw;
}

.sign-in-up{
    position:absolute;
    left: 10%;
    top: 10vw;
}


.contact{
    left:10%;
    top: 8vw;
    position:absolute;
    line-height: 1.5vw;
}

.contact-form{
    left:10%;
    position:absolute;
    top:15vw;
}

.contact-header{

    font-size:2vw;
    top:2vw;
}

.image-pin{
    width: 1vw;
    height: 2vw;
}

.have-need-header{
    position:absolute;
    left: 10%;
    font-size: 2vw;
    top: 3vw;
    font-size:
    2vw;
}

li{
    margin-top:1vw;
}

.users {
    height: 12vw;
    width: 12vw;
    /* display: inline; */
    clear: both;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
   }

   bio img {
    margin-top: 10px;
    margin-right: 40px;
   
  }

  ul {
    background: rgb(228, 211, 190);
    padding: 20px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.team {
    top:30vw;
}

.bio{
  clear: both;
  margin-bottom: 50px;
  margin-top: 50px;
}

.team-header{
    position: absolute;
    top:30vw;
    font-size: 2vw;
    left: 10%;
    margin-right:10%
}

.about-header{
    position:relative;
    top: 3vw;
    left: 10%;
    line-height: 2vw;
    font-size: 1vw;
    width: 15vw;
}

.racoon{
    position: absolute;
    left: 25vw;
    top:7vw;
    width: 10vw
}
.jason1{
    position: absolute;
    left: -5vw;
    top:37vw;
}
.reed1{
    position: absolute;
    left: 24.5vw;
    top:37vw;
}

.diego1{
    position: absolute;
    left: 54vw;
    top:37vw;
}

.lists{
    width: 20vw;
}

